@mixin responsive($alertWidth,$detaiWidth,$outWidth) {
    .weather-app {
        width: 100%;

        &__alert-box {
            width: $alertWidth;
        }

        &__details {
            width: $detaiWidth;
        }
    }

    .weather-output {
        width: $outWidth;
    }
}