$mutedText: #909591;

$sunnyText: orange;
$sunnyInput: rgba(246, 210, 102, 0.58);
$sunnyButton: orange;
$sunnyBackGround: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

$rainyBackGround: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
$rainyInput: #89f6fe77;
$rainyButton: #67A8FF;
$rainyText: #67A8FF;

$partlyCloudyBackGround: linear-gradient(120deg, #B7F8DB 0%, #50A7C2 100%);
$partlyCloudyInput: #B7F8DB;
$partlyCloudyButton: #50A7C2;
$partlyCloudyText: #50A7C2;

$cloudyBackGround: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
$cloudyInput: #c2e9fb;
$cloudyButton: #a1c4fd;
$cloudyText: #a1c4fd;

$snowyBackGround: linear-gradient(120deg, #e2ebf0 0%, #a5aeb3 100%);
$snowyInput: #e2ebf0;
$snowyButton: #a5aeb3;
$snowyText: #a5aeb3;