@import 'variables.scss';
@import 'mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: $rainyBackGround;
    font-family: robotoR;

    &__cover {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.429);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        // transition: ease-in-out .4s;
    }

    &__alert-box {
        width: 25%;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__aler-close {
        background-color: red;
        padding: 3px 7px;
        border-radius: 4px;
        cursor: pointer;
        transition: ease-in-out .2s;

        &:hover {
            transform: scale(.8);
        }
    }

    &__details {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    &__city-name {
        display: flex;
        align-items: center;

        p {
            margin-left: 5px;
            font-size: 14px;
        }
    }

    &__history {
        p {
            font-size: 14px;
            color: $mutedText;

            span {
                margin-right: 5px;
            }
        }
    }
}

.weather-output {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(32, 48, 64, 0.09);
    padding: 30px 40px;
    border-radius: 15px;

    h3 {
        color: $rainyText;
        font-family: robotoR;
        margin: 30px 0px 10px;
    }

    &__temp-box {
        font-family: robotoB;
        font-size: 50px;
    }

    &__wind-box {
        display: flex;
        margin: 16px 0px 40px;
    }

    &__wind-value {
        color: $mutedText;
        font-family: robotoR;
        margin-left: 5px;
    }

    &__input-tags {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            border: 2px solid white;
            width: 100%;
            background-color: $rainyInput;
            font-family: robotoR;
            padding: 10px 15px;
            border-radius: 8px;
            margin-bottom: 9px;
            transition: ease-in-out .4s;

            &:focus {
                outline: 0px;
                background-color: white;
                border: 2px solid $rainyButton;
            }
        }

        button {
            background-color: $rainyButton;
            color: white;
            width: 100%;
            border: 0px;
            padding: 10px 15px;
            border-radius: 8px;
            font-family: robotoR;
            cursor: pointer;
            transition: ease-in-out .4s;

            &:hover {
                filter: brightness(.85);
            }
        }
    }
}

.cloudy-styles {
    background-image: $cloudyBackGround;

    #weatherType {
        color: $cloudyButton;
    }

    #findCityInput {
        background-color: $cloudyInput;

        &:focus {
            border: 2px solid $cloudyButton;
        }
    }

    #findCityBtn {
        background-color: $cloudyButton;
    }
}

.sunny-styles {
    background-image: $sunnyBackGround;

    #weatherType {
        color: $sunnyButton;
    }

    #findCityInput {
        background-color: $sunnyInput;

        &:focus {
            border: 2px solid $sunnyButton;
        }
    }

    #findCityBtn {
        background-color: $sunnyButton;
    }
}

.partly-cloudy-styles {
    background-image: $partlyCloudyBackGround;

    #weatherType {
        color: $partlyCloudyButton;
    }

    #findCityInput {
        background-color: $partlyCloudyInput;

        &:focus {
            border: 2px solid $partlyCloudyButton;
        }
    }

    #findCityBtn {
        background-color: $partlyCloudyButton;
    }
}

.rainy-styles {
    background-image: $rainyBackGround;

    #weatherType {
        color: $rainyButton;
    }

    #findCityInput {
        background-color: $rainyInput;

        &:focus {
            border: 2px solid $rainyButton;
        }
    }

    #findCityBtn {
        background-color: $rainyButton;
    }
}

.snowy-styles {
    background-image: $snowyBackGround;

    #weatherType {
        color: $snowyButton;
    }

    #findCityInput {
        background-color: $snowyInput;

        &:focus {
            border: 2px solid $snowyButton;
        }
    }

    #findCityBtn {
        background-color: $snowyButton;
    }
}

@media all and (max-width: 1632px) {
    @include responsive(30%, 22%, 22%);
}

@media all and (max-width: 1200px) {
    @include responsive(45%, 35%, 38%);
}

@media all and (max-width: 992px) {
    @include responsive(55%, 45%, 45%);
}

@media all and (max-width: 768px) {
    @include responsive(65%, 55%, 55%);
}

@media all and (max-width: 576px) {
    @include responsive(60%, 70%, 70%);
}

@media all and (max-width: 320px) {
    @include responsive(70%, 80%, 80%);
}