* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  font-family: robotoR;
}
.weather-app__cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.429);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.weather-app__alert-box {
  width: 25%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-app__aler-close {
  background-color: red;
  padding: 3px 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.weather-app__aler-close:hover {
  transform: scale(0.8);
}
.weather-app__details {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.weather-app__city-name {
  display: flex;
  align-items: center;
}
.weather-app__city-name p {
  margin-left: 5px;
  font-size: 14px;
}
.weather-app__history p {
  font-size: 14px;
  color: #909591;
}
.weather-app__history p span {
  margin-right: 5px;
}

.weather-output {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(32, 48, 64, 0.09);
  padding: 30px 40px;
  border-radius: 15px;
}
.weather-output h3 {
  color: #67A8FF;
  font-family: robotoR;
  margin: 30px 0px 10px;
}
.weather-output__temp-box {
  font-family: robotoB;
  font-size: 50px;
}
.weather-output__wind-box {
  display: flex;
  margin: 16px 0px 40px;
}
.weather-output__wind-value {
  color: #909591;
  font-family: robotoR;
  margin-left: 5px;
}
.weather-output__input-tags {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather-output__input-tags input {
  border: 2px solid white;
  width: 100%;
  background-color: rgba(137, 246, 254, 0.4666666667);
  font-family: robotoR;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 9px;
  transition: ease-in-out 0.4s;
}
.weather-output__input-tags input:focus {
  outline: 0px;
  background-color: white;
  border: 2px solid #67A8FF;
}
.weather-output__input-tags button {
  background-color: #67A8FF;
  color: white;
  width: 100%;
  border: 0px;
  padding: 10px 15px;
  border-radius: 8px;
  font-family: robotoR;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
.weather-output__input-tags button:hover {
  filter: brightness(0.85);
}

.cloudy-styles {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.cloudy-styles #weatherType {
  color: #a1c4fd;
}
.cloudy-styles #findCityInput {
  background-color: #c2e9fb;
}
.cloudy-styles #findCityInput:focus {
  border: 2px solid #a1c4fd;
}
.cloudy-styles #findCityBtn {
  background-color: #a1c4fd;
}

.sunny-styles {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.sunny-styles #weatherType {
  color: orange;
}
.sunny-styles #findCityInput {
  background-color: rgba(246, 210, 102, 0.58);
}
.sunny-styles #findCityInput:focus {
  border: 2px solid orange;
}
.sunny-styles #findCityBtn {
  background-color: orange;
}

.partly-cloudy-styles {
  background-image: linear-gradient(120deg, #B7F8DB 0%, #50A7C2 100%);
}
.partly-cloudy-styles #weatherType {
  color: #50A7C2;
}
.partly-cloudy-styles #findCityInput {
  background-color: #B7F8DB;
}
.partly-cloudy-styles #findCityInput:focus {
  border: 2px solid #50A7C2;
}
.partly-cloudy-styles #findCityBtn {
  background-color: #50A7C2;
}

.rainy-styles {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.rainy-styles #weatherType {
  color: #67A8FF;
}
.rainy-styles #findCityInput {
  background-color: rgba(137, 246, 254, 0.4666666667);
}
.rainy-styles #findCityInput:focus {
  border: 2px solid #67A8FF;
}
.rainy-styles #findCityBtn {
  background-color: #67A8FF;
}

.snowy-styles {
  background-image: linear-gradient(120deg, #e2ebf0 0%, #a5aeb3 100%);
}
.snowy-styles #weatherType {
  color: #a5aeb3;
}
.snowy-styles #findCityInput {
  background-color: #e2ebf0;
}
.snowy-styles #findCityInput:focus {
  border: 2px solid #a5aeb3;
}
.snowy-styles #findCityBtn {
  background-color: #a5aeb3;
}

@media all and (max-width: 1632px) {
  .weather-app {
    width: 100%;
  }
  .weather-app__alert-box {
    width: 30%;
  }
  .weather-app__details {
    width: 22%;
  }
  .weather-output {
    width: 22%;
  }
}
@media all and (max-width: 1200px) {
  .weather-app {
    width: 100%;
  }
  .weather-app__alert-box {
    width: 45%;
  }
  .weather-app__details {
    width: 35%;
  }
  .weather-output {
    width: 38%;
  }
}
@media all and (max-width: 992px) {
  .weather-app {
    width: 100%;
  }
  .weather-app__alert-box {
    width: 55%;
  }
  .weather-app__details {
    width: 45%;
  }
  .weather-output {
    width: 45%;
  }
}
@media all and (max-width: 768px) {
  .weather-app {
    width: 100%;
  }
  .weather-app__alert-box {
    width: 65%;
  }
  .weather-app__details {
    width: 55%;
  }
  .weather-output {
    width: 55%;
  }
}
@media all and (max-width: 576px) {
  .weather-app {
    width: 100%;
  }
  .weather-app__alert-box {
    width: 60%;
  }
  .weather-app__details {
    width: 70%;
  }
  .weather-output {
    width: 70%;
  }
}
@media all and (max-width: 320px) {
  .weather-app {
    width: 100%;
  }
  .weather-app__alert-box {
    width: 70%;
  }
  .weather-app__details {
    width: 80%;
  }
  .weather-output {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
